

.icons_google_aut{
    width: 1.4rem;
    margin-bottom: 4px;
}

.img_lg{
  height: 370px;
  align-items: center;
}

  .vertical_line {
   
    border-left: 2.5px solid #ccc; /* Establecer el estilo de línea vertical */
    padding: 20px;
 
  }

  @media (max-width: 600px) {
    .vertical_line {
      border-left: none; /* Ocultar el borde izquierdo */
      padding: 0; /* Establecer el relleno a cero */
    }
  }

  @media (max-width: 600px) {
    .center-on-small-screen {
      justify-content: center !important;
    }
  }